body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.task-item {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  min-width: 300px;
  max-width: 550px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

.edit-task-item {
  background-color: #6da7ff;
  border: 1px solid #bbb;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.task-item-options {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.edit-task-item:hover {
  background-color: #5a9eff;
  cursor: pointer;
}

ul {
  text-decoration: none;
  list-style-type: none;
  padding: 0;
}

.save-edit {
  background-color: #6da7ff;
  border: 1px solid #bbb;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.save-edit:hover {
  background-color: #5a9eff;
  cursor: pointer;
}

.delete-task-item {
  background-color: #ff6a6a;
  border: 1px solid #bbb;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.delete-task-item:hover {
  background-color: #ff4c4c;
  cursor: pointer;
}
